<div>
  <table border="1px" class="table">
    <tr>
      <th>Hour</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <tr>
      <td>7:30</td>
      <td>Evento</td>
      <td bg-color="red">Important</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
    </tr>
    <tr>
      <td>8:30</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
    </tr>
    <tr>
      <td>9:30</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
    </tr>
    <tr>
      <td>10:30</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
    </tr>
    <tr>
      <td>11:30</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
      <td>Evento</td>
    </tr>
  </table>
</div>