<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand active glyphicon glyphicon-home">
					UGEL-APP
				</div>
				<button class="navbar-toggle" data-toggle="collapse" data-target="#acolapsar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="acolapsar">
				<ul class="nav navbar-nav">					
					<li><a href="#"><spam class="glyphicon glyphicon-cog">Settings</spam></a></li>
					<li><a href="#/agenda"><spam class="glyphicon glyphicon-calendar">Agenda</spam></a></li>
					<li><a href="#"><spam class="glyphicon glyphicon-test">Evaluacion</spam></a></li>
                    <li><a href="#/hikaru" class=""><span>Hikaru</span></a></li>                    
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="" class="btn">Wellcome {{}}</a></li>
					<li><a href="" class="btn">Login</a></li>
				</ul>
			</div>
		</div>
</nav>